/* Global */

.container {
	margin:auto;
	width:80%;
	overflow:hidden;
/*	border:3px solid purple;*/
}

.button_1 {
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 7px;
	width: 45%;
}

.dark {
	background-color: rgb(4, 22, 46);
	color: rgb(78, 202, 255);
	padding-top: 10px;
	padding-bottom: 10px;
}

body {
	font-size: 15px;
	line-height: 1.5;
	font-family: Arial, sans-serif;
	background-color: #fff;
}

.orange {
	color:orange;
	text-shadow: 3px 3px 8px rgb(4, 22, 46);
}

/*header*/

header {
	background-color:rgb(4, 22, 46);
	min-height: 100px;
	border-bottom: 3px solid rgb(78, 202, 255);
}

#logo {
	float:left;
	margin: 20px 15px;
	font-size: 20px;
	color:rgb(78, 202, 255);
	padding-left: 20px;
	padding-top:12px;
}

header nav {
	float: right;
}

header li {
	float:left;
	padding: 40px 15px 20px 15px;
	display: inline;
}

header a {
	color:rgb(78, 202, 255);
	text-decoration: none;
	text-transform: uppercase;	
}

header .current a {
	color:white;
}

header a:hover {
	color:orange;
}

/*main img*/

#main_img {
	background: url("../img/sc_cat.jpg") no-repeat center;
	min-height: 600px;
	text-align: right;
	color:white;
}

#main_img h1 {
	font-size: 34px;
	padding-top: 5px;
}

#main_img p {
	font-size: 20px;
}

/*boxes*/

#boxes {
	margin-top: 20px;
}

#boxes .box {
	float:left;
	width: 30%;
	padding:10px;
	text-align: center;
}

#boxes .box img {
	width:150px;
	height:150px;
}

#boxes .box h3 {
	font-size: 20px;
}

/* about page */

article#main_col {
	float:left;
	width: 65%;
	margin-top: 30px;
	margin-left: 10px;
	font-size: 20px;
}

.firstLetter {
	float: left;
	font-size: 3.26em;
	line-height: 0.5;
	margin: 0.205em 0.153em 0 0;
	text-shadow: 3px 3px 8px rgb(4, 22, 46);
}

/*.firstLetter + span {
	margin-left: -0.5em;
}*/

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
	color: red;
}

aside#about_sidebar {
	float:right;
	width:30%;
	margin-top: 30px;
 	border: 2px solid black;
}

.img_bkgrd {
	/*min-height: 70px;
	min-width: 70px;*/
	background-color:rgb(4, 22, 46);
}

.img_bkgrd h3 {
	font-size: 20px;
	text-align: center;
}

.page_title {
	font-size: 34px;
	text-align: center;
}

#cat_img {
	width: 350px;
	display:block;
	margin: 0 auto;
}

article#main_col p {
	padding-top: 10px;
}

aside#about_sidebar h3 {
	color:rgb(78, 202, 255);
	margin-bottom: 5px;
}

/*hobbies */

ul.list_of_hobbies li {
	border: 2px solid #ccc;
	background: #e6e6e6;
	margin-bottom: 10px;
	margin-top: 5px;
	list-style: none; /*to remove bullet-points*/
	padding: 10px;
}

.underline {
	text-decoration: underline;
}

aside#hobby_sidebar {
	float:right;
	width:30%;
	margin-top: 85px;
 	border: 2px solid #ccc;
}

aside#hobby_sidebar div h3, aside#hobby_sidebar div form {
	text-align: center;
}

aside#hobby_sidebar div h3 {
	font-weight:bold;
	text-align: center;
	font-size: 26px;
}

aside#hobby_sidebar input {
	width: 70%;
	min-height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

aside#hobby_sidebar textarea {
	min-height: 70px;
	width: 70%;
	margin-top: 5px;
	margin-bottom: 5px;
}

textarea {
	max-width: 95%;
}

/*footer*/

footer {
	background-color:rgb(4, 22, 46);
	min-height: 100px;
	margin-top: 20px;
	border-top: 3px solid rgb(78, 202, 255);
}

footer p {
	color:rgb(78, 202, 255);
	text-align: center;
	padding-top: 40px;
}

/* Media Queries */

@media(max-width: 768px) {
	header #logo,
	header nav,
	header nav li,
	#main_img h1,
	#main_img p,
	#boxes .box,
	aside#about_sidebar,
	aside#hobby_sidebar {
		float:none;
		text-align:center;
		width:100%;
	}

	article#main_col {
		float:none;
		text-align:left;
		width:100%;
	}

	header #logo {
		padding-left: 0;
	}

	header nav {
		margin-bottom: 10px;
	}

	#main_img h1 {
		padding-top: 20px;
	}

	#main_img p {
		padding-top: 400px;
	}

	aside#hobby_sidebar {
	margin-top: 0;
	}
}

